/* You can add global styles to this file, and also import other style files */
.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLogout{
    border: none;
    padding: 12px;
    margin-top:20px;
    border-radius: 10px;
    background-color: aquamarine;
    font-weight: bold;
}

.roleSpan{
    color: red;
}